body {
    background-color: lightblue;
    font-family: verdana;
}
#title{
    text-align: center;
}
.button{
    text-align: center;
}
.buttoninput{
    background-color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 16px;
    margin: 4px 2px;
}