{% extends 'base.html' %}

{%block head%}
<script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{%endblock%}

{%block body%}
<div class = "content">
    <form action = "/generate" method = "POST">
        <!-- change this to a city search with google autofill -->
        <label>Your Location</label>
        <input type = "text" name = "location" id = "location"><br>
        <label>Desired Competitiveness (based on company size)</label>
        <select name = "competitiveness" id = "competitiveness">
            <option value = 1>1</option>
            <option value = 2>2</option>
            <option value = 3>3</option>
            <option value = 4>4</option>
            <option value = 5 selected>5</option>
            <option value = 6>6</option>
            <option value = 7>7</option>
            <option value = 8>8</option>
            <option value = 9>9</option>
            <option value = 10>10</option>
        </select><br>
        <label>Search Query</label>
        <input type = "text" name = "searchquery" id = "searchquery" size = "30" value = "Software Engineering Internship">
        <input type = "submit" value = "Generate!">
    </form>
</div>
<div id="map"></div>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmLbqGArwcoVtia-DW4I0HZwwkA_KhHCE&callback=initMap"
      defer></script>
{%endblock%}