{% extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/saved.css')}}">
{%endblock%}

{%block body%}
<h2>My internships:</h2>
<table id = "resultstable">
    <tr>
        <th>Company</th>
        <th>Title</th>
        <th>Location</th>
        <th>Link</th>
        <th></th>
    </tr>
{% for job in jobs %}
    <tr>
        <td>{{ job.companyName }}</td>
        <td>{{ job.jobTitle }}</td>
        <td class = "centeredtableelement">{{ job.location }}</td>
        <td class = "centeredtableelement"><a href = {{job.link}}>Link</a></td>
        <td class = "centeredtableelement">
            <form action = "/deleteSaved/{{job.id}}" method = "POST" class = "button">
                <input type = "submit" value = "Delete" class = "buttoninput">
            </form>
        </td>
    </tr>
{% endfor %}
</table>
<form action = "/deleteAll" method = "POST" class = "button">
    <input type = "submit" value = "Return to search" class = "buttoninput">
    <input type = "hidden" value = "index" name = "next">
</form>
{%endblock%}